<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="INFO" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>INFO %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>DEBUG %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="goodLogger" level="DEBUG">
        <appender-ref ref="INFO"/>
        <appender-ref ref="DEBUG"/>
    </logger>


</configuration>